@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Albert-Sans';
  src: local('Albert-Sans'), url(../assets/fonts/albertSans.ttf) format('truetype');
}

@font-face {
  font-family: 'Thesignature';
  src: local('Thesignature'), url(../assets/fonts/thesignature.ttf) format('truetype');
}

@font-face {
  font-family: 'Unbounded';
  src: local('Unbounded'), url(../assets/fonts/unbounded.ttf) format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 250, 249, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: sans;
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
